header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}


/* =========================CTA ============================ */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem; 
    justify-content: center;
}

/* =========================Header Socials ============================ */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: absolute;
    left: 0;
    bottom: 3rems;
    font-size: large;

}

.header__socials::after {
    content: "";
    width: 2px;
    height: 2rem;
    background: var(--color-primary);

}


/* ======================= ME========================== */

.me {
    background: linear-gradient(transparent);
    width: 26rem;
    height: 25rem;
    position:absolute;
    left: calc(50% - 12.9rem);
    margin-top: 12rem;
    border-radius: 6rem;
   
    padding: 1.3rem 2rem;
    box-shadow: 1.9rem 0.5rem 3rem 0.1rem rgba(109, 105, 105, 0.863)
}

/* ======================= Scroll Down========================== */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;

}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
header {
    height: 85vh;
}
}
/* ================ MEDIA QUERIES (Small DEVICES) ================= */
@media screen and (max-width: 600px) {
    header {
        height: 115vh;
    }

    .scroll__down{
        display: none;
    }
    
}