nav {
    background: rgb(66, 58, 58);
    width: max-content;
    display: block;
    padding: 0.1rem 1.5rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 2rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color:var(--color-light);
    font-size: 1.1rem;

}

nav a:hover {
    background: rgba(143, 139, 139, 0.589);
}

nav a.active {
    background: rgba(100, 91, 91, 0.589);
    color: var(--color-white);
}